#apply{
    background-color: black;
    color: white;
}
#apply:hover{
    
    background-color: white;
}

#apply a {
    text-decoration: none;
    color: white;
}

#how-it-works  a {
    text-decoration: none;
    color: black;
}