.appen-flower{
    
    background-color: white;
    
    
}

/* button apply && how it works */
#button-wrapper{
    margin-top: 10vh;
    display: flex;
    gap: 20px;
}

/* footer */
ul{
 display: flex;
 justify-content: space-between;
 list-style: none;

}

/* custom jumbotron background */
.custom-jumbotron{
    background-color: white;
}

/* self div */

.self-div-custom{
    background-color: #134b5f;
}

.self-div{
    display: flex;
    background-color: #134b5f;
    
}
.success-container{
     background-color: whitesmoke; 
    position: relative;
}
#success-container-child{
    background-color: white;
    margin-left: 50px;
    position: absolute;
    z-index: 1;
    margin-top: 0px;
    width: 70%;
    height: 70%;
    padding: 10px;
    
}


/* image */
#img{
    
    /* margin-left: 50%; */
    height: 400px;
    float: right;

    /* z-index: -1;  */
}


