apppen-flower{
    width: 100px;
    height: 100px;
}

/* button apply && how it works */
#button-wrapper{
    margin-top: 10vh;
    display: flex;
    gap: 20px;
}

/* footer */
ul{
 display: flex;
 justify-content: space-between;
 list-style: none;

}