.appen-flower{
    
    background-color: white;
    
    
}

/* button apply && how it works */
#button-wrapper{
    margin-top: 10vh;
    display: flex;
    gap: 20px;
}

/* footer */
ul{
 display: flex;
 justify-content: space-between;
 list-style: none;

}

/* custom jumbotron background */
.custom-jumbotron{
    background-color: white;
}

/* self div */

.self-div-custom{
    background-color: #134b5f;
}

.self-div{
    display: flex;
}